@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../node_modules/owl.carousel/src/scss/owl.carousel.scss';
@import '../../node_modules/owl.carousel/src/scss/owl.theme.default.scss';
@import '../../node_modules/sweetalert2/src/sweetalert2.scss';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss';