@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../node_modules/owl.carousel/src/scss/owl.carousel.scss';
@import '../../node_modules/owl.carousel/src/scss/owl.theme.default.scss';
// @import '../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import url('/assets/css/fa-all.min.css');
@import url('../fonts/default.css');

$main-color-1: #bfe428;
$main-color-2: #15d0ac;
$ahover: #2cd39a;
$photo-bg-header: #262628;
$photo-bg-header-opacity: 65%;
$photo-bg-slider: #2D3B3E;

$sm:768;
$md:992px;
$lg:1200px;

body{
   font-family: 'Proxima Nova';
   font-weight: normal;
   font-size: 14px;
}

a{
   color: #ffffff;
   &:hover{
      color:$ahover;
      text-decoration: underline;
   }
}

.btn, .btn-tr{
   padding: 10px 30px;
   text-transform: uppercase;
   font-weight: bold;
   color: #fff;
   text-decoration: none;
   border-radius: 25.5px;
   -webkit-border-radius: 25.5px;
   -moz-border-radius: 25.5px;
   -ms-border-radius: 25.5px;
   -o-border-radius: 25.5px;
   font-weight: bold;
   font-size: 14px;
   &:hover{
      color: #fff;
      box-shadow: 0 0 25px -5px $main-color-1;
   }
}
.btn{
   border: 2px solid linear-gradient(left, rgba($main-color-1, 1), rgba($main-color-2, 1));
   background: linear-gradient(left, rgba($main-color-1, 1), rgba($main-color-2, 1));
}
.btn-tr{
   border: 2px solid #7D7D79;
   text-decoration: none !important;
   user-select: none;
   &:hover{
      color: #fff;
      background: linear-gradient(left, rgba($main-color-1, 1), rgba($main-color-2, 1));
      box-shadow: 0 0 25px -5px $main-color-1;
      border: 2px solid transparent;
   }
}

.header {
   background: linear-gradient(rgba($photo-bg-header, 0.65), rgba($photo-bg-header, 0.65)), url("/assets/img/header-bg.webp") no-repeat center bottom;
   background-size: cover;
   height: 100vh;
   .nav {
      margin: 0 40px;
      padding: 40px 0;
      border-bottom: 1px solid #7F7E7A;
      .logo {
         color: #ffffff;
         .left{
            font-size: 24px;
            border-right: 1px solid #7f7e7a;
            padding-right: 20px;
         }
         .right{
            font-size: 16px;
            margin-left: 20px;
            img{
               margin-right: 10px;
            }
         }
      }
      .right{
         .links {
            margin: 0;
            li{
               list-style: none;
               font-size: 14px;
               padding: 0 10px;
            }
         }
         img{
            margin-left: 10px;
            cursor: pointer;
         }
         .auth {
            .btn-tr{
               margin: 0 25px;
            }
         }
      }
   }
   .content {
      color: #ffffff;
      .big-text {
         margin-top: 230px;
         font-size: 82px;
         span{
            font-weight: 900;
            background: linear-gradient(left, $main-color-1, $main-color-2);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
         }
      }
      p{
         font-size: 25px;
         font-weight: 300;
         margin: 10px 0 40px;
      }
   }
}

section{
   &.ui {
      position: relative;
      background: url('/assets/img/ui-blocck-logo.png') no-repeat center 18%;
      text-align: center;
      .absolute {
         position: absolute;
         width: 100%;
         top: -15%;
         right: 0;
         .item {
            position: relative;
            background: #fff;
            margin: 5px;
            border-radius: 15px;
            -webkit-border-radius: 15px;
            -moz-border-radius: 15px;
            -ms-border-radius: 15px;
            -o-border-radius: 15px;
            height: 240px;
            width: 27%;
            overflow: hidden;
            box-shadow: 0 0 25px -5px rgba( #BABBB4, .7);
            h3{
               font-size: 24px;
               font-weight: bold;
               color: #2d3b3e;
            }
            h2{
               font-size: 36px;
               font-weight: bold;
               color: #2d3b3e;
            }
            p{
               font-size: 18px;
               color: #8fa3aa;
            }
            &.left{
               background: url('/assets/img/ui-block-1.png') no-repeat center center;
               margin-right: 250px;
            }
            &.right{
               background: url('/assets/img/ui-block-3.png') no-repeat center center;
               margin-left: 250px;
            }
            .gradient-border{
               content: '';
               display: block;
               position: absolute;
               bottom: 0;
               left: 0;
               width: 100%;
               height: 5px;
               background: linear-gradient(left, $main-color-1, $main-color-2);
            }
            &.start{
               position: absolute;
               width: 560px;
               height: 310px;
               z-index: 2;
               overflow:inherit;
            }
            &.rel{
               .btn{
                  position: absolute;
                  bottom: -20px;
               }
            }
         }
      }
      .h2{
         padding-top: 280px;
         color: #2d3b3e;
         font-size: 36px;
         font-weight: bold;
      }
      .bottom {
         margin: 70px 0 80px;
         .item {
            position: relative;
            padding: 40px;
            margin: 5px;
            border-radius: 15px;
            -webkit-border-radius: 15px;
            -moz-border-radius: 15px;
            -ms-border-radius: 15px;
            -o-border-radius: 15px;
            width: 33%;
            h3{
               color: #2d3b3e;
               font-size: 30px;
               font-weight: bold;
               margin: 20px 0 10px;
            }
            p{
               color: #8fa3aa;
               font-size: 18px;
            }
            a{
               margin: 30px 0 10px;
               opacity: 0;
               visibility: hidden;
               display: inline-block;
               font-size: 18px;
            }
            &:hover{
               background: #fff;
               box-shadow: 0 0 25px -5px rgba( #BABBB4, .7);
               a{
                  color: $ahover;
                  opacity: 1;
                  visibility: visible;
               }
            }
            
         }
      }
   }
   &.main_link {
      background: #F7F8F9;
      height: 100px;
      line-height: 100px;

      li{
         list-style: none;
      }
      a{
         color: #8fa3aa;
         font-size: 18px;
         padding: 20px;
         &:hover{
            color: $ahover;
         }
      }
   }
   &.slider {
      #owl-slider{
         .img{
            position: relative;
         }
         .owl-nav{
            position: absolute;
            top: 35%;
            left: 576px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 120px;
            height: 120px;
            background: url('/assets/img/Box.png') no-repeat;
            .owl-prev{
               outline: none;
               img{
                  padding: 20px;
               }
               &:hover{
                  background: none;
               }
            }
            .owl-next{
               outline: none;
               img{
                  padding: 20px;
               }
               display: block;
               &:hover{
                  background: none;
               }
            }
         }
      }
      .img {
         background: #2d3b3e;
      }
      .content{
         background: linear-gradient(left, #4CD782, #AAE238);
         display: flex;
         flex-direction: column;
         justify-content: flex-start;
         .inside{
            margin: auto 0 auto 100px;
            color: #ffffff;
         }
         h1{
            text-align: left;
            font-size: 92px;
            font-weight: bold;
         }
         p{
            text-align: left;
            font-size: 24px;
            margin-bottom: 30px;
         }
         .btn-tr{
            border-color: #fff;
         }
      }
   }
}

footer{
   padding: 60px 0;
   .row{
      margin: 0;
      padding: 0 100px;
   }
   .info {
      .logo{
         display: flex;
         align-items: center;
         span{
            color: #8fa3aa;
            font-size: 24px;
            margin-left: 20px;
         }
      }
      .contact {
         margin-top: 30px;
         .line2{
            display: block;
            content: '';
            width: 70px;
            height: 1.5px;
            background: #2d3b3e;
            margin: 20px 0;
            opacity: 0.2;
         }
         h4{
            color: #2d3b3e;
            font-size: 24px;
         }
         .phone {
            a{
               color: #8fa3aa;
               font-size: 16px;
               margin-right: 50px;
            }
         }
         .mail {
            a{
               color: #8fa3aa;
               font-size: 16px;
            }
         }
         .social {
            margin-top: 40px;
            .fa-facebook-f {
               color: #ffffff;
               font-size: 25px;
               background: #3B5997;
               text-align: center;
               padding: 10px;
               width: 38px;
               height: 38px;
               border-radius: 50%;
               -webkit-border-radius: 50%;
               -moz-border-radius: 50%;
               -ms-border-radius: 50%;
               -o-border-radius: 50%;
            }
            .fa-twitter {
               color: #ffffff;
               font-size: 25px;
               background: #54ACED;
               text-align: center;
               padding: 10px;
               width: 38px;
               height: 38px;
               margin: 0 15px;
               border-radius: 50%;
               -webkit-border-radius: 50%;
               -moz-border-radius: 50%;
               -ms-border-radius: 50%;
               -o-border-radius: 50%;
            }
            .fa-linkedin-in {
               color: #ffffff;
               font-size: 25px;
               background: #0079B8;
               text-align: center;
               padding: 10px;
               width: 38px;
               height: 38px;
               border-radius: 50%;
               -webkit-border-radius: 50%;
               -moz-border-radius: 50%;
               -ms-border-radius: 50%;
               -o-border-radius: 50%;
            }
         }
      }
   }
   .content{
      .item {
         margin: 0 20px;
         .line{
            display: block;
            content: '';
            width: 70px;
            height: 1.5px;
            background: #2d3b3e;
            margin: 30px 0 !important;
            opacity: 0.2;
         }
         h4{
            color: #2d3b3e;
            font-size: 24px;
            font-weight: 600;
         }
         a{
            display: block;
            color: #8fa3aa !important;
            margin-bottom: 5px;
            &:hover{
               color: $ahover !important;
            }
         }
         .line{
            width: 100px;
            color: #8fa3aa;
            margin: 40px 0;
         }
      }
      
   }
}
.copyright {
   margin: 0 auto;
   text-align: center;
   color: #8fa3aa;
   border-top: 1px solid #EDF0F1;
   padding: 20px;
}

@media (max-width:$lg) {
   section.slider{
      h1{
         font-size: 50px !important;
      }
      p{
         font-size: 18px !important;
      }
      .owl-nav{
         left: 305px !important;
      }
   }
   footer{
      .row{
         padding: 0 20px;
      }
   }
}